/* @theme h2bk-theme */
@import 'default';

section {
    width: 1280px;
    height: 720px;
    background-color: #ffffff;
    color: #333333;
    font-family: 'Hiragino Sans', 'Meiryo', sans-serif;
    padding: 60px;
    line-height: 1.5;
}

h1 {
    color: #000000;
    font-size: 55px;
    border-left: 12px solid #ff9900; /* Scala accent color */
    padding-left: 25px;
    margin-bottom: 40px;
}

h2 {
    color: #555555;
    font-size: 35px;
    margin-top: 0;
}

li {
    font-size: 26px;
    margin-bottom: 15px;
}

footer {
    position: absolute;
    bottom: 40px;
    right: 60px;
    color: #ff9900;
    font-weight: bold;
}

.lead {
    background-color: #232f3e; /* Dark theme for cover */
    color: #ffffff;
    text-align: left;
}

.lead h1 {
    color: #ff9900;
    border-left: none;
    font-size: 70px;
}
